.collapse-content .file-list-item.collapsed {
	height: 40px;
}

iframe.file.show {
	margin: 0 auto;
	width: 70%;
	height: 400px;
	background-color: white;
	display: block;
}

.list-wrapper {
	min-height: 400px;
}

.ui.header.checkbox > .drop.zone {
	position: absolute;
	z-index: 19;
}

.breadcrumb .drop.zone {
	display: block;
}
